# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
venv/
env/

# VS Code and PyCharm
.vscode/
.idea/

# Environment variable files
.env
*.env

# macOS + Linux
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Compiled C extensions
*.so

# Test coverage
htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# MyPy / Pylint / Pyright / Ruff
.mypy_cache/
.pyre/
.pytype/
ruff_cache/